.card-category{
  text-transform: inherit;
}

.fixed-plugin{
    font-size: 2rem !important;
    color: #eeeeee;
    padding: 1rem;
    padding-right: 4rem;
    cursor: pointer;
    transform: translate(1rem);
    transition: .3s;

    &:hover{
        transform: translate(0);
        padding-left: 2rem !important;
    }
}
