.tooltip {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 1rem;
    background-color: #333333;
    z-index: 9999;
    color: #aaaaaa;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 678px) {
        top: auto;
        bottom: calc(100% + 0.5rem);
    }
}

*:hover > .tooltip {
    opacity: 1;
    visibility: visible;
}
