.products-nav{
    &__dynamic{
        &::before{
            display: block;
            content: attr(data-longname);

            @media screen and (max-width: 760px) {
                content: attr(data-shortname);
            }
        }
    }

    &__sort{
        width: 20%;
        z-index: 2;

        @media screen and (max-width: 992px) {
            width: 100%;
            margin-top: 1rem;
        }
    }

    &__search{
        z-index: 1;
        margin-left: 1rem;

        @media screen and (max-width: 992px) {
            width: 100%;
            margin: 1rem 0;
        }
    }
}
