.user{
    &__card{
        transition: .3s;
        width: 47%;

        &:hover{
            transform:scale(1.05);
        }

        *{
            backface-visibility: hidden;
            transform: translateZ(0);
            transform-style: preserve-3d;
            cursor: pointer;
        }

        &:first-child{
            width: 100%;
        }
    }
}
