.product{
    &__header{
        min-height: 200px;
    }

    &__arrow{
        @media screen and (max-width: 768px) {
            width: 100% !important;
            transform: rotate(90deg);
            margin: 1rem 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .product{
        width: 23%;
    }
}

@media screen and (max-width: 1200px) {
    .product{
        width: 30%;
    }
}

@media screen and (max-width: 992px) {
    .product{
        width: 100%;
    }
}
